body {
    background-color: cyan;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

button {
    background-color: yellow;
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    padding: 12px;
    width: 200px;
    border: 3px solid red;
    border-radius: 25px;
}


button:hover:enabled {
    font-weight: bold;
}

button:active:enabled {
    background-color:magenta;
    border: 0px;
}

img {
    margin-right: 0;
    height: 250px;
    width: 100%;
}

div {
    margin: 2rem;
}

#content {
    background-color: white;
    padding: 0px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#button {
    margin: auto;
    display: flex;
    justify-content: center;
}


